
.font-open-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #f8f9fa;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    padding: 16px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;

}
.nav-links a {
    text-decoration: none;
    color: inherit;
}

.nav-links a:hover {
    color: #007bff;
}

.btn{
    background-color: #30B868;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

.btn1:hover {
    background-color: #28a745;
    color: #ffffff;
    text-decoration: none;
}

.btn:hover {
    background-color:white;
    color: #000000;
    text-decoration: none;
}

.btn1{
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
}

.hero-section {
    background: url(assets/hero-bg.png);
}

.hero-section {
    max-width: 1600px;
    max-height: 674px;
    margin: 0 auto;
    padding: 70px 120px 134px 120px ;
    text-align: center;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 24px;
} 
.hero-section h1 .green {
    
    color: #30B868;
    
}

.hero-buttons {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.early-access-banner {
    background-color: #ffffff;
    border-radius: 1000px;
    text-align: center;
    font-size: 16px;
    color: #30B868;
    font-weight:600;
    width: 229px;
    margin: 0 auto;
    height:36px;
    margin-top: 24px;
}

.early-access-banner h4 {
    line-height: 36px;
}






.card-header h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}
.card-header p {
    font-size: 18px;
    color: #6c757d;
}

.card-container {
    max-width: 85%;
    margin: 0 auto;
}

.card-header {
  text-align: center;
  margin-bottom: 50px;
}

.card-header h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.card-header p {
  font-size: 16px;
  color: #777;
}

.card-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 card */
  gap: 20px;
  background-color: #ffffff;
}


.card {
  background: #fff;
  padding: 24px;
  border-radius: 12px 12px 0 0;
  text-align: center;
    box-shadow: 0  0 5px 0  rgba(0, 0, 0, 0.1);

}


.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
}

.card-item img {
    background-color: #F95555;
    border-radius: 1000px;
    padding: 24px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cards-section {
    padding: 80px 0;
    background-color: #ffffff;
}